// Layout file
//
// This create the following layout:
//
// One long pane with two horizontal split panes
//
//  -----------
//  |    |    |
//  |    |    |
//  |    |----|
//  |    |    |
//  |    |    |
//  -----------

layout {
    pane split_direction="vertical" {
        pane command="htop"
        pane focus=true
        pane {
            pane
            pane
        }
    }
}
